@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <header class="jumbotron">
        <h1 class="display-4">¡Bienvenido al Taller Juan Mecánico Automotriz!</h1>
        <p class="lead">Expertos en Reparación y Mantenimiento de Vehículos</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Contact", "Home")" role="button">¡Programa tu Cita Ahora!</a>
    </header>

    <section id="services">
        <h2>Servicios Profesionales</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Reparación de Motor</h5>
                        <p class="card-text">Realizamos reparaciones de motor con técnicos especializados.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Reparación de Frenos</h5>
                        <p class="card-text">Realizamos reparaciones de Frenos con técnicos especializados.</p>
                    </div>
                </div>
            </div>

             <div class="col-md-4">
     <div class="card">
        
         <div class="card-body">
             <h5 class="card-title">Reparación de Suspensión</h5>
             <p class="card-text">Realizamos reparaciones de Suspensión con técnicos especializados.</p>
         </div>
     </div>
 </div>
            
        </div>
    </section>

